/*mobile*/
@media (max-width: 480px) {
 body {
    font-size: 20px;
 } 
 .navbar{
    display: flex;
    flex-direction: column;
 }  

header h3 {
    background-color: #F2F2F2;
    padding-bottom: 25px;
    padding: 12px;
}
h1 {
   font-size: 80px;
    color: #20a8b4;
}
a {
    float: left;
}
body {
    font-family: roboto;
    margin: 0;
}
#blue {
    color: white;
    background-color: #20a8b4;
    border-radius: 10px;
    padding : 12px;
    width: 98%;
    border: none;
    text-decoration: none;
    
    
    
    }
#blue:hover {
    background-color: #ff5c0f;
    border: 0px;
    -webkit-transition: color 0s;
    transition: color 0s;
}
a:hover {
  color: #ff5c0f;
  border: 0px;
    -webkit-transition: color 0s;
    transition: color 0s;
}
span {
    color: #ff5c0f;
}
a {
    text-decoration: none;
    color: black;
}
#learn {
    color: #ff5c0f;
}

#think {
    font-size: 40px;
    padding-left: 10px;
    position: relative;
    top: 75px;
}
#career {
    font-size: 25px;
    padding-left: 10px;
    position: relative;
    top: 55px;
}
#learn-more {
    color: #F2F2F2;
    background-color: #20a8b4;
    position: relative;
    top: 50px;
    border-radius: 10px;
    padding: 12px;
    width: 95%;
    display: block;
    margin-left: 20px;

}
#learn-more:hover {
    background-color: #ff5c0f;
    border: 0px;
    -webkit-transition: color s;
    transition: color 0s;

}
  
}
 
/*desktop*/
  @media (max-width: 2000px) {
    
    #blue {
        color: white;
        background-color: #20a8b4;
        border-radius: 10px;
        padding : 12px;
        border: none;
        text-decoration: none;
    }
header {
    background-color: #F2F2F2;
    padding-bottom: 25px;
    padding: 12px;
    
}
h1 {
    font-size: 80px;
    color: #20a8b4;
}
body {
font-size: 20px;
font-family: roboto;
margin: 0;
}

.navopt {
 text-align: right;
}
 a {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    text-align: right;
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: #ff5c0f;
    border: 0px;
    -webkit-transition: color 0s;
    transition: color 0s;
}
}








